<!DOCTYPE html>
<html>
<head>
    <title>Foto-Galerija</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="slike">
    <div id="img">
      
    </div>
  </div>
  <nav>
    <input type="file" name ="file" id="upl">
    <label for="upl"><img src="/add.png" id="add"/></label>
    <img src="/del.png" id="erase"/>
  </nav>
  <input type="file" name ="file" id="upl">
  <label id="mainlabel" for="upl"><img src="/add.png"/></label>
  
  <script src="/script.js"></script>
</body>

</html>